<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Агромир | Мясная лавка</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
				<span class="contact100-form-title">
					Сгенерированные номера карт
				</span>
				<center>
				<span class="input100">
					{% for i in result %}
					{{ i }}<br>
					{% endfor %}
				</span>
				</center>
			</form>
		</div>
	</div>
</body>
</html>