<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Агромир | Мясная лавка</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<span class="contact100-form-title">
				Основные функции
			</span>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
						<button onclick="document.location='/manager'" class="contact100-form-btn">
							Зарегистрировать менеджера
						</button>
				</div>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
						<button onclick="document.location='/generation'" class="contact100-form-btn">
							Сгенерировать номера карт
						</button>
				</div>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
						<button onclick="document.location='/assign'" class="contact100-form-btn">
							Привязать карту к менеджеру
						</button>
				</div>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
						<button onclick="document.location='/activation'" class="contact100-form-btn">
							Активировать карту
						</button>
				</div>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
						<button onclick="document.location='/information'" class="contact100-form-btn">
							Отчёт
						</button>
				</div>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
						<button onclick="document.location='/settings'" class="contact100-form-btn">
							Настройки
						</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>