<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Агромир | Мясная лавка</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
				<span class="contact100-form-title">
					{{ data }}
				</span>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
							<button onclick="document.location='/'" class="contact100-form-btn">
								Продолжить
							</button>
					</div>
				</div>
		</div>
	</div>
</body>
</html>